<div class="home-page">
  <div class="home-banner">
    <%= image_tag "sample.jpg", class: "img-responsive" %>
  </div>
  <div class="signup-wrapper">
    <%= link_to "Sign Up Now", new_applicant_path, class: "btn btn-primary" %>
  </div>
</div>
