<div class="home-page">
  <div class="home-banner">
    <%= image_tag "sample.jpg", class: "img-responsive" %>
  </div>
  <div class="signup-wrapper">
    <%= link_to "Sign Up Now", new_applicant_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
  <div class="col-sm-12">
    <h2>Policies</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>DENTAL PLANS</h1>
    <h2>COVERED SERVICES, PROVISIONS, AND DISCLAIMERS</h2>
    <p>
      Dentsured is engaged in the business of providing coordination of services and coverage thereof for dental and related services. Said services are provided to Covered Persons by third party provider Dentists and/or Hygienists, On-Site in Living Facilities. Said providers are contracted with Dentsured to provide Covered Services to Covered Persons of its Plans, for a flat rate fixed monthly capitation, with no copays, and no wait periods. Dentsured is bound to payment of said Covered Services and coordination thereof in accordance with a Provider Services Agreement with Participating Dentists. Dentsured is NOT a clinical services administrator and shall bear NO liability that may arise thereof. Dentsured is obligated to oversee that it’s Clinical Providers administer their services in accordance with the terms of the Plan, and to respond to complaints thereof.
    </p>
    <p>
<p>COVERED SERVICES<br /><br /> I. Summary of Plan Covered Services<br /><br /> A___ PLAN A Hygiene Plus:<br /><br /> 1. Monthly oral evaluation and hygiene instruction<br /> 2. Monthly oral prophylaxis<br /> 3. Monthly cleanings<br /> 4. Monthly scaling and root planing<br /> Premium $139 per month<br /><br /> B___ PLAN B Comprehensive Dental:<br /><br /> All Plan A services plus;<br /> 5. Initial and routine exams, annually<br /> 6. Problem focused exams, as needed<br /> 7. Full mouth debridement, annually<br /> 8. Topical fluoride treatments two times per year<br /> 9. Oral hygiene counseling,<br /> 10. Annually Oral cancer screenings,<br /> 11. Annually Periodontal maintenance two times per year (for residents who have received active periodontal therapy in the previous 24 months).<br /> 12. Dental x-rays as needed<br /> 13. Simple extractions as needed<br /> 14. Consultation with the Covered Person and/or responsible party regarding recommended Dental Services.<br /> Premium $199 per month<br /><br /> C____ PLAN C Denture/Prosthesis<br /><br /> 1. Denture evaluation, annually as needed<br /> 2. Denture fitting, annually as needed<br /> 3. Denture fabrication, annually as needed<br /> 4. Denture labeling, annually as needed<br /> 5. Denture placement, annually as needed<br /> 6. Denture repair relines and adjustments, annually as needed<br /> 7. Denture Cleaning, Annually<br /> Premium $139 per month<br /><br /> C+___ may be added in combination with Plan C<br /><br /> 1. Monthly, denture cleanings<br /> Premium $29 per month</p>

    </p>
  </div>
  <div>
</div>
