<div class="row">
  <div class="col-sm-12">
    <h2>Policies</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>DENTAL PLANS</h1>
    <h2>COVERED SERVICES, PROVISIONS, AND DISCLAIMERS</h2>
    <p>
      Dentsured is engaged in the business of providing coordination of services and coverage thereof for dental and related services. Said services are provided to Covered Persons by third party provider Dentists and/or Hygienists, On-Site in Living Facilities. Said providers are contracted with Dentsured to provide Covered Services to Covered Persons of its Plans, for a flat rate fixed monthly capitation, with no copays, and no wait periods. Dentsured is bound to payment of said Covered Services and coordination thereof in accordance with a Provider Services Agreement with Participating Dentists. Dentsured is NOT a clinical services administrator and shall bear NO liability that may arise thereof. Dentsured is obligated to oversee that its Clinical Providers administer their services in accordance with the terms of the Plan, and to respond to complaints thereof.
    </p>
    <p>
      COVERED SERVICES

      I.	Summary of Plan Covered Services

      A___                PLAN A Hygiene Plus:

      1.	Monthly oral evaluation and hygiene instruction
      2.	Monthly oral prophylaxis
      3.	Monthly cleanings
      4.	Monthly scaling and root planing
      Premium $139 per month

      B___   PLAN B Comprehensive Dental:

      All Plan A services plus;
      5. Initial and routine exams, annually
      6. Problem focused exams, as needed
      7. Full mouth debridement, annually
      8. Topical fluoride treatments two times per year
      9. Oral hygiene counseling,
      10. Annually Oral cancer screenings,
      11. Annually Periodontal maintenance two times per year (for residents who have received active periodontal therapy in the previous 24 months).
      12. Dental x-rays as needed
      13. Simple extractions as needed
      14. Consultation with the Covered Person and/or responsible party regarding recommended Dental Services.
      Premium $199 per month

      C____        PLAN C Denture/Prosthesis

      1.  Denture evaluation, annually as needed
      2.  Denture fitting, annually as needed
      3. Denture fabrication, annually as needed
      4. Denture labeling, annually as needed
      5. Denture placement, annually as needed
      6. Denture repair relines and adjustments, annually as needed
      7. Denture Cleaning, Annually
      Premium $139 per month

      C+___ may be added in combination with Plan C

      1.	Monthly, denture cleanings
      Premium $29 per month

    </pre>
    <pre>
     EXCLUSIONS
     The following treatments, procedures and/or costs are not Dental Services and no Benefits will be payable under this Policy for:
     1. Any service or supply not included in the Schedule of Benefits, or any services or supplies for any ADA Codes not included in the Schedule of Benefits;
     2. Treatment that began before the Policy Effective Date or after the Covered Persons termination of coverage;
     3. Dental treatment primarily for cosmetic reasons;
     4. Surgical implants or transplants of any type (including prosthetic devices attached to them);
     5. Temporomandibular joint syndrome (TMJ);
     6. Facings on crowns or pontics posterior to the second bicuspid;
     7. Fixed or removable bridgework or crowns;
     8. Lost, stolen or missing dentures or bridges;
     9. Prescription drugs and analgesia pre-medication;
     10. Dental Services not recommended by a Dentist or are not required for dental care and treatment;
     11. Any orthodontia treatment;
     12. Bacteriologic cultures in connection with a Dental Service;
     13. Therapeutic injections; or
     14. Semi-precious and precious metals.

     TERMINATION OF POLICY
     This Policy will end on the earliest of the following dates:
     1. The date the Covered Persons ceases to be a resident of a Living Facility;
     2. The last day for which the required Premium is paid, subject to the Grace Period provision;
     3. The Premium due date after The Company gives at least a 31-day written notice of The Companys intent to non-renew;
     4. The date the Covered Person gives The Company written notice of the Covered Persons intent to cancel. Or
     5. The date the Living Facility no longer permits access by, or has access to, a Dentsured Plan Participating Dentist utilizing a Mobile Dentist Unit.

     Dental Services started but not completed prior to the termination of this Policy will be covered under this Policy.

    </pre>
  </div>
<div>
