<div class="row">
  <div class="col-sm-6">
    <%= link_to "Applicant Sign up", new_applicant_path, class: "btn btn-primary" %>
  </div>
  <div class="col-sm-6">
    <%= link_to "Agent Sign up", new_agent_registration_path, class: "btn btn-primary" %>
  </div>
</div>
